/***************************/
/***  Table of Contents ****/
/***************************/
/*****  1.0 Global   *******/
/*****  2.0 Fonts   ********/
/*****  3.0 Hero   *********/
/*****  4.0 Animation   ****/
/*****  5.0 Navigation   ***/
/*****  6.0 Scroll Bar   ***/
/*****  7.0 Images   *******/
/*****  8.0 lightbox  ******/
/*****  9.0 Boxes  *********/
/*****  10.0 Placement  ****/
/*****  11.0 Mobile  *******/
/***************************/

/***************************/
/******  1.0 Global   ******/
/***************************/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: rgb(255, 221, 205);
  scroll-behavior: smooth;
}

/***************************/
/*****  2.0 Fonts   ********/
/***************************/

h1,
h2 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  color: rgb(43, 146, 153);
}

h3 {
  font-weight: lighter;
  font-size: 1.6rem;
  color: rgb(65, 65, 65);
  font-family: roboto;
}

p {
  font-weight: lighter;
  color: rgb(65, 65, 65);
  font-family: roboto;
}

.testimonial {
  font-size: 1.2em;
}

.description {
  color: black;
  font-size: 1.2em;
}

.follow-us {
  font-size: 1.3em;
}

/***************************/
/*****  3.0 Hero   *********/
/***************************/

.hero {
  background-image: url("./images/new-hero.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  font-family: "Abril Fatface", cursive;
  font-size: 110px;
  color: white;
  text-align: center;
  font-weight: lighter;
}

/***************************/
/*****  4.0 Animation   ****/
/***************************/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/***************************/
/*****  5.0 Navigation   ***/
/***************************/

.nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav a {
  float: left;
  display: block;
  color: rgb(68, 68, 68);
  padding-top: 10px;
  padding-left: 20px;
}

.home {
  width: 70px;
  opacity: 0.7;
  transition: 0.2s;
}

.home:hover{
  opacity: 1;
}

.footer {
  background-color: rgb(43, 146, 153);
  padding: 10px;
  margin-top: 50px;
}

/***************************/
/*****  6.0 Scroll Bar   ***/
/***************************/

body::-webkit-scrollbar {
  width: 1.2em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-image: linear-gradient(
    to bottom,
    rgb(241, 94, 83),
    rgb(241, 173, 110)
  );
  outline: 30px solid rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(241, 173, 110),
    rgb(241, 94, 83)
  );
}

/***************************/
/*****  7.0 Images   *******/
/***************************/

.hello {
  text-align: center;
}
.logo {
  height: 75vh;
  padding-top: 10vh;
  animation: fadeIn ease 5s;
  animation-fill-mode: forwards;
}

.team-photos {
  max-width: 100%;
  border-radius: 5px;
  opacity: 0.8;
}

.testi-photos {
  max-width: 100%;
  border-radius: 300px;
  opacity: 0.8;
}

.insta {
  width: 100px;
  transition: transform 0.2s;
}
.insta:hover {
  transform: scale(1.2);
}

.gallery {
  max-width: 100%;
  border-radius: 10px;
}

/***************************/
/*****  8.0 lightbox  ******/
/***************************/

.lightbox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(207, 92, 92);
  background: rgba(255, 223, 223, 0.842);
  z-index: 1;
}

.lightbox img {
  margin: auto;
  padding-top: 10vh;
  display: block;
  max-height: 75%;
  max-width: 50%;
}

.lightbox:target {
  outline: none;
  display: block;
  border-radius: 20px;
}

/***************************/
/*****  9.0 Boxes  *********/
/***************************/

.box {
  box-shadow: 0 6px 12px rgba(156, 56, 31, 0.24);
  box-sizing: border-box;
  min-height: 10em;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.box-2 {
  box-shadow: 0 4px 8px rgba(156, 56, 31, 0.24);
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  transition: 0.2s;
  max-width: 100%;
}

.box-2:hover {
  background-color: rgb(140, 218, 211);
  transition: 0.2s;
}

.box-2 a {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

/***************************/
/*****  10.0 Placement  ****/
/***************************/

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.color {
  background-color: rgb(255, 250, 250);
}

.hr {
  border: 2px solid #ffffff;
}
.hr-2 {
  border: 2px solid rgb(255, 221, 205);
}

.white {
  color: white;
}

@media only screen and (max-width: 800px) {
  .logo {
    height: 45vh;
    padding-top: 20vh;
  }

  .nav {
    background-color: rgb(255, 255, 255);
  }

  .nav a {
    padding-top: 0;
    padding-left: 0;
  }
  .gallery {
    border-radius: 5px;
  }

  .lightbox img {
    margin: auto;
    padding-top: 15vh;
    display: block;
    max-height: 75%;
    max-width: 80%;
  }

  .lightbox {
    background: rgba(255, 200, 186, 0.863);
  }

  .box-2 {
    border-radius: 5px;
    padding: 5px 5px 0px 5px;
  }
}
